       h1 {
            font-family: monospace;
            font-weight: bold;
            font-size: 5rem;
            color: #fff;
            text-shadow: 4px 6px 16px #000c, 0 2px 8px #000a;
        }
        h2 {
            font-family: monospace;
            font-weight: bold;
            font-size: 2rem;
            color: #abd82f;
            text-shadow: 4px 6px 16px #000c, 0 2px 8px #000a;
        }
        body {
            min-height: 100vh;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            /* Doggo background image, scaled down and centered */
            background: #000 url('images/doggo.png') no-repeat center center fixed;
            background-size: contain;
        }
        body.hide-doggo {
            background: #000 !important;
        }
        .center-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #mediaContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        .mediaScreen {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
