html, body {
    height: 100%;
}

h1 {
    font-family: monospace;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    text-shadow: 4px 6px 16px #000c, 0 2px 8px #000a;
}

h2 {
    font-family: monospace;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    color: #6270e9;
    align-items: center;
    text-shadow: 4px 6px 16px #000c, 0 2px 8px #000a;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    

}

body.hide-doggo {
    background: #000 !important;
}



#mediaContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: -80px; /* Move video higher, adjust value as needed */
}

.mediaScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    
}
.flexbox-item {
    width: 100%;
    border: 3px solid #ffffff;
}
.flexbox-item-1{
    min-height: 100%;

    background-size: contain; /* or cover, or 80% */
    background-repeat: repeat;
    background-position: center;


}
.flexbox-item-2{
    min-height: 100%;
    align-items: center;
    background-image: url('/images/brain.png');
    background-size: contain; /* or cover, or 80% */
    background-repeat: repeat;
    background-position: center;
}
.flexbox-item-3{
    min-height: 100%;
    align-items: center;
    background: linear-gradient(rgba(221, 93, 138, 0.514), rgba(207, 188, 233, 0));
    

}
.flexbox-item-4{
    min-height: 100%;
    align-items: center;
    
}
.flexbox-item-5{
    min-height: 100%;
    align-items: center;
    

}
.flexbox-item-6 {
    height: 350px; /* or any height you want */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/doggo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.flexbox-item-1,
.flexbox-item-2,
.flexbox-item-3,
.flexbox-item-4,
.flexbox-item-5,
.flexbox-item-6 {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

