.youtube-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-family: monospace;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.youtube-button:hover {
    background-color: darkred;
}